<%= form_for(@payment, :url=>shipment_payments_path(@shipment)) do |f| %>
	<div class='field'>
		<%= f.label :card %>
		<%= f.text_field :card %>
	</div>

	<div class='field'>
		<%= f.label :card_number %>
		<%= f.text_field :card_number %>
	</div>

	<div class='field'>
		<%= f.label :expiry_month %>
		<%= f.text_field :expiry_month %>
	</div>

	<div class='field'>
		<%= f.label :expiry_year %>
		<%= f.text_field :expiry_year %>
	</div>

	<div class='field'>
		<%= f.label :security %>
		<%= f.text_field :security %>
	</div>

	<div class='actions'>
		<%= f.submit %>
	</div>
<% end %>
